@media(max-width:400px) {
    .img2 {
        flex: 0 1 100%;
    }

    .logo {
        padding-left: 18%;
        width: 100%;
        display: block;
    }

    .img_sect {
        width: 95%;
        margin: 0 auto;

    }

    .logo_img {
        padding-left: 14%;
        margin-bottom: 5%;
        width: 35%;
        height: 75%;
    }

    .logo h1 {
        font-size: 18px;
    }

    .menu {
        display: none;
    }

    .sect2_h2 {
        font-size: 24px;
    }

    .sect2_img {
        width: 95%;
        height: 196px;
    }

    .sect2_img img {
        width: 40px;
        height: 40px;
    }

    .sect2 {}

    .sect3 {
        display: none;
    }

    .sect4_h2 {
        font-size: 24px;

    }

    .sect4_p {
        font-size: 15px;
    }

    .sect5_h2 {
        font-size: 24px;
    }

    .sect5_icon {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .icons {
        width: 35%;
        height: 40%;
    }

    .sect5_p {
        font-size: 15px;
    }

    .footer_h2 {
        font-size: 24px;
    }

    .footer_icons {
        margin: 20px 0px 0px 65px;
        display: flex;
        width: 80%;
    }

    .icon_footer {
        width: 40%;
        height: 90%;
    }

    .footer_h3 {
        flex: 0 1 100%;
        font-size: 18px;
    }

    .footer {
        padding-right: 10%;

        width: 100%;
        display: flex;
    }

    .footer_p {
        font-size: 18px;
    }

    .footer_sect2 {
        display: inline;
    }

    .footer_h3 {
        justify-content: center;
    }

    .footer_contact {
        width: 100%;
    }


}

@media(max-width:767px) {
    .menu {
        display: none;
    }
}

@media(min-width:767px) {
    .burger_menu {
        display: none;
    }
}